@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* VARIABLES */
:root {
  --color-primary: #009cff;
  --color-background: #121212;
  --color-text: #f8f8f5;
}

/* BASE */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}

/* BOTONES GENÉRICOS */
button {
  color: var(--color-text);
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color .15s ease;
}

.btn:hover {
  background-color: #0088dd;
}

/* BOTÓN EDITAR */
.btn-edit {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid #e4b02d;
  color: #d4a017;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
}

.btn-edit:hover {
  background-color: rgba(212, 160, 23, 0.15) !important;
}

.btn-delete {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid #da3030;
  color: #da3030;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
}

.btn-delete:hover {
  background-color: rgba(218, 48, 48, 0.18) !important;
}

.arrow-group {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #555;
}

.arrow-btn {
  width: 32px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b !important;
  cursor: pointer;
  border: none;
  transition: background-color 0.15s ease;
}

.arrow-btn:hover {
  background-color: #3a3a3a !important;
}

.arrow-btn + .arrow-btn {
  border-top: 1px solid #555;
}

@import "tailwindcss";